:root {
  --title-md: bold 24px/120% "Asap", sans-serif;
  --title-sm: bold 20px/120% "Asap", sans-serif;
  --text-md: 16px/140% "Maven Pro", sans-serif;
  --text-sm: 14px/140% "Maven Pro", sans-serif;
  --text-info: 13px/140% "Maven Pro", sans-serif;

  --bg-color: #111B21;
  --secondary-bg-color: #202C33;
  --hover-color: #1A262D;
  --selected-color: #2A3942;

  --unseen-color: #1E90FF;
  --unseen-hover-color: #4dabf7;
  --close-color: #e63946;
  --close-hover-color: #ff4d4d;

  --online-color: #28A745;
  --offline-color: #6C757D;

  --color-gray-500: #C0C4CE;
  --color-gray-600: #E2E4E9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #888 #0000;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262524;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  color: var(--color-gray-600);
}

h2 {
  font: var(--title-md);
  color: var(--color-gray-600);
}